*{
    margin: 0;
    padding: 0;
    
}
body {
    font-size: 20px;
    background-color:#e4e4e4;
    display: inline-block;
    
}
.main {
    padding-top: 72px;
    padding-bottom: 0px;
    margin: 30px;
    display: inline-block;
}
.quote {
    margin: 0px;
    width: 500px;
    
    
}
.left > img {
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}
#right-div{
    box-shadow: 10px;
    border-radius: 7px;
}

