p{
    font-size: larger;
    font-weight: 800;
}
div{
    width: max-content;
    height: max-content;
    border: 2cap;
    text-align:center;
}
label{
    color: blue;
}
input{
    width: 120px;
    height: 20px;
    font-size: larger;
}
.sub{
    width: 120px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: gray;
}
